@{
    Layout = null;
}


    <form method="post" enctype="multipart/form-data" class="text-center">
        Upload photo to analyze: <br />
        <input type="file" name="ImageToAnalyze" class="text-center" /><button type="submit">Send</button>
    </form>
